{% extends base_template %}

{% block description %}
    <title>{{ title }}</title>
{% endblock description %}

{% block content %}
    {% block crud_content %}

        <div id="crud-show">
            {% include "crud/resource_controls.html" %}
            {% if title %}
                <h1>{{ title }}</h1>
            {% endif %}

            {{ form|safe }}
        </div>
    {% endblock crud_content %}


    <div class="panel panel-default">
        <div class="panel-heading">Workers</div>
        <div class="panel-body">
            <table class="table">
                {% for w in campaign.workers %}
                    <tr>
                        <td><a href="{{ w|admin_url("edit") }}">{{ w.id }}</a></td>
                        <td>{{ w }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Recipients</div>
        <div class="panel-body">
            <table class="table">
                {% for r in campaign.recipients %}
                    <tr>
                        <td><a href="{{ r|admin_url("edit") }}">{{ r.id }}</a></td>
                        <td>{{ r }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Accounts</div>
        <div class="panel-body">
            <table class="table">
                {% for a in campaign.accounts %}
                    <tr>
                        <td><a href="{{ a|admin_url("edit") }}">{{ a.id }}</a></td>
                        <td>{{ a }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Messages</div>
        <div class="panel-body">
            <table class="table">
                {% for m in campaign.messages %}
                    <tr>
                        <td><a href="{{ m|admin_url("edit") }}">{{ m.id }}</a></td>
                        <td>{{ m }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Messages Deliveries</div>
        <div class="panel-body">
            <table class="table">
                {% for m in campaign.message_deliveries %}
                    <tr>
                        <td><a href="{{ m|admin_url("edit") }}">{{ m.id }}</a></td>
                        <td>{{ m }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>


{% endblock %}